.content-item:hover {
  box-shadow: 0px 3px 4px 1px white , 0px -1px 4px 1px white;
}

/* Optional: Style scrollbar for non-WebKit browsers */
.scrollbar-custom {
  scrollbar-width: auto; /* Makes the scrollbar thinner */
  scrollbar-color: #2c2c2c #1a1a1a; /* Thumb color and track color */
}

.bars:hover {
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

.content-header-svg {
  width: 1.25rem;
  height: 1.25rem;
  color: rgb(229 231 235);
  fill: none;
  stroke: currentColor;
  cursor: pointer;
}

.content-header-svg:hover {
  fill : rgb(255, 255, 255)

}

.label-svg {
  color: rgb(107 114 128);
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.75rem;
  stroke: currentColor;
  fill: none;
  position: absolute;
  z-index: 1;
}

.label {
  /* bars flex text-gray-100 p-1 rounded-r-3xl mr-2 */
  display: flex;
  padding: 0.25rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-right: 0.5rem;
  color: rgb(243 244 246);
}

.label:hover {
  background-color: rgb(37, 37, 37);
  cursor: pointer;
}

.search-bar:focus {
  outline: none;
}

.adjust:hover {
  background-color: rgb(87, 87, 87);
}

.academy-cap {
  background: linear-gradient(to right, rgb(255, 64, 105), rgb(158, 36, 119));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem; /* Adjust font size as needed */
  font-weight: bold; /* Make the text bold if desired */
}

.compose:hover {
  cursor: pointer;
}
